<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!-- AppData folder
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\KimiaRazi.mdf;Integrated Security=True"
    providerName="System.Data.SqlClient" />  -->

  <!-- Lab4
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=KimiaRazi;Persist Security Info=True;User ID=sa;Password=Diaco8464" 
	    providerName="System.Data.SqlClient"  />   -->

  <!-- TehranHost
    <add name="DefaultConnection" connectionString="Data Source=79.175.163.50;Initial Catalog=kimiaraz_lab4;Persist Security Info=True;User ID=kimiaraz;Password=WhncIOX5bM2z" 
	    providerName="System.Data.SqlClient"  />   -->

  <!-- KimiaRazi.Com   -->
  <add name="DefaultConnection" connectionString="Data Source=kimiarazi.com;Initial Catalog=kimiarazi;Persist Security Info=True;User ID=kimiarazi;Password=xJ0DlLhcuLjQ"
    providerName="System.Data.SqlClient"  />
</connectionStrings>